@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Allura:wght@400&family=Dancing+Script:wght@400..700&family=Style+Script&display=swap');
.dancfont{
  font-family: var(--font-cinzel) !important;
  font-weight: 400;
}
html{
  font-family: var(--font-cinzel) !important;
  font-weight: 400;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #000000;
  font-family: "Bona Nova SC";
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--tw-scroll-duration, 40s) linear infinite;
}